# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# MPLAB X Specifics
*.d
*.pre
*.p1
*.lst
*.sym
*.o
*.sdb
*.obj.dmp
LaserTag.X/html/
LaserTag.X/nbproject/private/
LaserTag.X/nbproject/Package-*.bash
LaserTag.X/build/
LaserTag.X/nbbuild/
LaserTag.X/dist/
LaserTag.X/nbdist/
LaserTag.X/nbactions.xml
LaserTag.X/nb-configuration.xml
LaserTag.X/funclist
LaserTag.X/nbproject/Makefile-*
LaserTag.X/disassembly/
*.map
