# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# MPLAB X Specifics
*.d
*.pre
*.p1
*.lst
*.sym
*.o
*.sdb
*.obj.dmp
*.X/html/
*.X/nbproject/private/
*.X/nbproject/Package-*.bash
*.X/build/
*.X/nbbuild/
*.X/dist/
*.X/nbdist/
*.X/nbactions.xml
*.X/nb-configuration.xml
*.X/funclist
*.X/nbproject/Makefile-*
*.X/disassembly/
*.map

# Vim
*.swp
